# Dependências
/node_modules

# Arquivos de ambiente (segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de variáveis do ambiente
servidor/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store